<app-header></app-header>
<div class="container mt-5 mb-5">
    <div class="card col-md-6 offset-md-3">
        <div class="card-header">
            <h4>Registration Form</h4>
        </div>
        <div class="card-body">
            <form #regForm="ngForm">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" required 
                        #username="ngModel" [(ngModel)]="user.username"
                    />
                    <p></p>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" required 
                        #email="ngModel" [(ngModel)]="user.email"
                    />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" required 
                        #password="ngModel" [(ngModel)]="user.password"
                    />
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmPassword" required 
                        #confirmPassword="ngModel" [(ngModel)]="user.confirmPassword"
                    />
                <p class="text-danger fw-bold"
                    *ngIf="confirmPassword.touched 
                    && user.confirmPassword !== user.password">
                    Passwords must match
                </p>
                </div>
                <button type="submit" class="btn btn-primary" (click)="reg()"
                    [disabled]="regForm.invalid">Register</button>
            </form>
        </div>
    </div>
</div>
