<app-header></app-header>
  <section>
    <h1>
      <i class="wi wi-barometer"></i> Your Local Weather Forecast
    </h1>
    <p>Current Position: {{ lat }} / {{ lon }} </p>
    <button class="btn btn-warning" (click)="getForecast()">Get Forecast</button>
  </section>

  <section id="forecast" class="my-4">
    <div class="container">
        <div *ngIf="forecast | async as f">
          <ng-container *ngFor="let day of f.list" class="container row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Temperature: {{ day.main.temp }} &deg;F</h3>
                  <p class="card-text">Feels Like: {{ day.main.feels_like }} &deg;F</p>
                  <p class="card-text">Humidity: {{ day.main.humidity }}%</p>
                  <p class="card-text">Wind speed: {{ day.wind.speed }}mph</p>
                  <p class="card-text">{{ day.dt_txt }}</p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
    </div>
  </section>

<!-- </main> -->

